<div class="bg-top bg-top-catalog page-head--darken">
  <div class="container top-contain">
    <h1 class="catalog-title">Каталог товаров</h1>
  </div>
</div>

<div class="container">
  <div class="catalog">
    {% for item in catalog %}
      <div class="good-block">
        <div class="photo catalog">
          <a rel='catalog' class='photo' href="/?c=product&a=card&id={{ item.id }}">
            <img src="./img/products/small/prod-{{ item.id }}.jpg" alt="img-good"/>
          </a>
          <div class="buy-btn blue-btn catalog" id="{{ item.id }}">Купить</div>
        </div>
        <div class="good-text">
          <h4><a href="/?c=product&a=card&id={{ item.id }}">{{ item.name }}</a></h4>
          <p class="price">{{ item.price|number_format(0, '.', ' ') }} &#8381;</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>